<html>
<style>
body{
font-family:Helvetica, Arial, "Hiragino Sans GB";
color:darkblue;
margin:0;
padding:0;
}
.title{
font-size:4em;
}
.user,.tag{
background:#eee;
padding:5px;
margin:5px;
}
.tag{
cursor:pointer;
}
.sel{
background:lightblue;
}
.hide{
display:none;
}
</style>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script>
function Costs(costs, tags, users, sels, hide) {
	var _t = this
	_t.users = [{{range .Users}}
		"{{.}}", {{end}}
	]
	_t.tags = [{{range .Tags}}
		"{{.}}", {{end}}
	]
	_t.costs = [{{range .Costs}}
		{price:{{.Price}},user:{{.User}},tags:[{{range .Tags}}{{.}},{{end}}]},{{end}}
	]

	_t._p = {
		costs:costs,
		tags:tags,
		users:users,
	}
	_t._sels = []
	_t._inited = false

	_t._init = function() {
		if (_t._inited)
			return
		for (var k in _t._p)
			_t._p[k] = $(_t._p[k])
		for (var i in _t.tags)
			_t._sels[i] = true
		_t._p.tags.each(function(i, e) {
			$(e).click(function() {
				$(this).toggleClass(sels)
				_t.togsel(i)
			})
		})
		_t._inited = true
	}

	_t.sel = function(tag) {
		_t._sels[tag] = true
		_t.rend()
	}
	_t.unsel = function(tag) {
		_t._sels[tag] = false
		for (var i in _t._sels)
			if (_t._sels[i]) {
				_t.rend()
				return
			}
		return
		// TODO
		for (var i in _t.tags)
			_t._sels[i] = true
		_t._p.tags.each(function(i, e) {
			$(e).addClass(sels)
		})
		_t.rend()
	}
	_t.togsel = function(tag) {
		if (_t._sels[tag])
			_t.unsel(tag)
		else
			_t.sel(tag)
	}

	_t.rend = function() {
		_t._init()
		var sum = 0
		var count = 0
		var users = []
		for (var i in _t.costs) {
			var cost = _t.costs[i]
			var match = false
			for (var i in cost.tags) {
				if (_t._sels[cost.tags[i]]) {
					match = true
					break
				}
			}
			if (match || cost.tags.length == 0) {
				sum += cost.price
				count += 1
				users[cost.user] = true
			}
		}
		_t._p.users.each(function(i, e) {
			if (users[i])
				$(e).removeClass(hide)
			else
				$(e).addClass(hide)
		})
		_t._p.costs.html(sum/count)
	}
}

function submitter() {
	var form = $("#append")
	var tip = $("#appended")
	var price = $("#aprice")
	var user = $("#auser")
	var tag = $("#atag")
	form.submit(function(){
		tip.empty()
		var url = document.location.href + "/edit?price=" + price.val() + "&user=" + user.val()
		alert(url)
		$.ajax({
			url:url,
			error:function(r, s, e) {
				tip.text(s)
			},
			success:function(data) {
				if (data != "ok") {
					tip.text(data)
					return
				}
			}
		})
		return false
	})
}

$(function() {
	C = new Costs("#price", ".tag", ".user", "sel", "hide")
	C.rend()
	submitter()
})
</script>

<body>
<div class="title">{{.Title}}: <span id="price"></span></div>
<hr/><br/>
<div id="tags">{{range .Tags}}<span class="tag sel">{{.}}</span> {{end}}</div>
<br/><hr/><br/>
<div id="users">{{range .Users}}<span class="user">{{.}}</span> {{end}}</div>
<br/><hr/><br/>
<div><form id="append">
我也买过：<br/><br/>
价格<input id="aprice"/><br/>
昵称<input id="auser"/><br/>
标签<input id="atags"/><br/>
<br/>
<input type="submit" value="  提交  "/> <span id="appended"></span>
</form></div>
</body>
</html>
